@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Italic";
  src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}

:root {
  /*Colores*/
  --var-morado-100: hsl(256, 67%, 59%);
  --var-morado-50: hsl(254, 88%, 90%);
  --var-yellow-100: hsl(39, 100%, 71%);
  --var-yellow-50: hsl(31, 66%, 93%);
  --var-white: hsl(0, 0%, 100%);
  --var-black: hsl(0, 0%, 7%);
  /*Font*/
  --font-size: 18px;
  --font-size-attribution: 11px;
  --font-family: "DM Sans", sans-serif;
  --font-family-italic: "Italic", sans-serif;
  --font-weight-small: 400;
  --font-weight-big: 500;
  /*Widths*/
  --width-desktop: 1200px;
  --width-screen: 100%;
  --width-mobile: 375px;
  /*Padding*/
  --var-pading-secciones: 10%;
  /*Grid*/
  --columnas: 4;
  --filas: 10;
  --grid-gap: 30px;
  /*Layouts*/
  --border-radius: 10px;
  --height-container: 85%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  grid-template-rows: repeat(var(--filas), 1fr);
  max-width: var(--width-desktop);
  width: var(--width-screen);
  font-family: var(--font-family);
  height: var(--height-container);
  grid-gap: var(--grid-gap);
}

.justify-content-center {
  justify-content: center;
}

.row {
  display: flex;
}

.attribution {
  font-size: var(--font-size-attribution);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.section1 {
  grid-column: 1;
  grid-row: 1/6;
  background-color: var(--var-yellow-50);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.section2 {
  grid-column: 1;
  grid-row: 6/11;
  background-color: var(--var-yellow-100);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}
.section3 {
  grid-column: 2/4;
  grid-row: 1/5;
  background-color: var(--var-morado-100);
  color: var(--var-white);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 28px;
  font-family: var(--font-family-italic);
}

.section4 {
  grid-column: 2/2;
  grid-row: 5/8;
  background-color: var(--var-white);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.section5 {
  grid-column: 3/3;
  grid-row: 5/8;
  color: var(--var-black);
  background-color: var(--var-yellow-100);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  overflow: hidden;
}

.section6 {
  grid-column: 2/2;
  grid-row: 8/11;
  color: var(--var-black);
  background-color: var(--var-white);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.section7 {
  grid-column: 4/4;
  grid-row: 1/8;
  background-color: var(--var-morado-50);
  color: var(--var-black);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  overflow: hidden;
}

.section8 {
  grid-column: 3/5;
  grid-row: 8/11;
  background-color: var(--var-morado-100);
  color: var(--var-white);
  padding: var(--var-pading-secciones);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

.quicker {
  color: var(--var-morado-100);
  font-style: italic;
}

.btn-purple {
  background-color: var(--var-yellow-100);
  color: var(--var-morado-100);
  border-radius: 20px;
  border: 0;
  padding: 10px;
  font-weight: bold;
}

.color-purple {
  color: var(--var-morado-100);
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.mouse {
  bottom: -15px;
  left: 0;
  right: 0;
}

.font-small {
  font-size: 13px;
}

.font-big {
  font-size: 58px;
  font-family: var(--font-family-italic);
}

.bg-yellow {
  color: var(--var-yellow-100);
}

.calendario {
  position: absolute;
  bottom: -80px;
  margin: 0 auto;
}

.col-50 {
  width: 50%;
}

.cover {
  background-size: cover;
}

.text-yellow-100 {
  color: var(--var-yellow-100);
}

@media (max-width: 875px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-family: var(--font-family);
    height: 100%;
    grid-gap: var(--grid-gap);
  }

  .section1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--var-yellow-50);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
  .section2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--var-yellow-100);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
  .section3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--var-morado-100);
    color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 28px;
    font-family: var(--font-family-italic);
  }

  .section4 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }

  .section5 {
    grid-column: 1/2;
    grid-row: 3/4;
    color: var(--var-black);
    background-color: var(--var-yellow-100);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    overflow: hidden;
  }

  .section6 {
    grid-column: 2/3;
    grid-row: 3/4;
    color: var(--var-black);
    background-color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }

  .section7 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: var(--var-morado-50);
    color: var(--var-black);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    overflow: hidden;
  }

  .section8 {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: var(--var-morado-100);
    color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
}

@media (max-width: 575px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    font-family: var(--font-family);
    height: 100%;
    grid-gap: var(--grid-gap);
  }

  .section1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--var-yellow-50);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
  .section2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--var-yellow-100);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
  .section3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: var(--var-morado-100);
    color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 28px;
    font-family: var(--font-family-italic);
  }

  .section4 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }

  .section5 {
    grid-column: 1/2;
    grid-row: 5/6;
    color: var(--var-black);
    background-color: var(--var-yellow-100);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    overflow: hidden;
  }

  .section6 {
    grid-column: 1/2;
    grid-row: 6/7;
    color: var(--var-black);
    background-color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }

  .section7 {
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: var(--var-morado-50);
    color: var(--var-black);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    overflow: hidden;
  }

  .section8 {
    grid-column: 1/2;
    grid-row: 8/9;
    background-color: var(--var-morado-100);
    color: var(--var-white);
    padding: var(--var-pading-secciones);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
  }
}
